@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: $bg-body;
}

.container {
  max-width: 100vw;
  height: 86px;
  background-color: gray;
}
